<h1>Cocktails</h1>

<ol>
  <% @cocktails.each do |cocktail| %>
  <div class="card-product">
      <div class="card" style="width: 24rem;">
       <%= image_tag cocktail[:image_url], alt: "alttext" %>
      </div>
      <div class="card-body">
        <h2><%= cocktail[:name] %></h2>
      </div>
      <li>
        <a href="cocktails/<%= cocktail.id %>"  class="btn btn-primary">Go somewhere</a>
      </li>
  </div>
  <% end %>
</ol>

<%= link_to "Add New Cocktail", new_cocktail_path%>
